html, body{
    margin: 0;
    font-family: Avenir;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    border-radius: 0 0 40px 40px;
    background-image: linear-gradient(to right bottom, #a143ff, #348aff);
}
header p{
    padding-left: 30px;
    color: #ffffff;
    font-weight: bold;
}
form{
    margin: 30px;
    background-color: #3489ff50;
    padding: 30px;
    border-radius: 20px;

}
label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #e7e7e7;
}
.deux{
    display: flex;
    padding-right: 30px;
    width: 100%;
    margin: 30px;
}