html, body{
  margin: 0;
  font-family: Avenir;
  box-sizing: border-box;
}
header{
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  height: 8vh;
  width: 100vw;
  /*border-radius: 0 0 40px 40px;*/
  background-image: linear-gradient(to right bottom, #a143ff, #348aff);
  box-shadow: 5px 5px 20px 0px rgba(119,129,189,0.75);
  animation: reduction 4s ease;
}
header p{
  padding-left: 30px;
  color: #ffffff;
  font-weight: bold;
  animation: bouge;
}
@keyframes reduction {
    0%{
      height: 100vh;
      justify-content: center;
    }
    25%{
      height: 100vh;
      justify-content: center;
    }
    100%{
      height: 8vh;
      justify-content: flex-start;
    }
  }

}
@keyframes bouge {
    0%{
      margin-top: 50%;
      margin-left: 50%;
      transform: translate(50%,50%);
    }
    25%{
      margin-top: 50%;
      margin-left: 50%;
      transform: translate(50%,50%);
    }
    100%{
      margin-top: 0;
      margin-left: 0;
      transform: translate(50%,50%);
    }
  }
}
.etapes{
  /*margin-top: 200px;*/
}
form{
  margin: 30px;
  background-color: #3489ff50;
  padding: 30px;
  border-radius: 20px;
}
label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e7e7e7;
  width: 40vw;
}

.deux{
  display: flex;
  justify-content: space-around;
  padding-right: 30px;
  width: 100%;
  margin: 10px 0;
}
button{
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px 10px 15px;
  color: #ffffff;
  background-image: linear-gradient(to right bottom, #a143ff, #348aff);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 0px rgba(119,129,189,0.75);
}
